#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=
Terminal=false
Name=Codium
Exec=codium
Type=Application
Categories=Utility;TextEditor;Development;IDE;
Icon=/usr/share/pixmaps/vscodium.png
Keywords=vscode;
